body{
    font-family: "Lucida Grande", sans-serif;
    background-color: #000000; 
    color: #FFFFFF;
}
h1{
    font-size: 64px;
    text-align: center;   
}
h2{
    font-size:30px;
    text-shadow: 5px 5px 2px #808080;
}
img{
    display: block; 
    margin:auto;
    width: 525px;
    padding: 10px;
}
p{
    font-size: 24px; 
    padding: 20px;
}
div{ 
    padding: 25px;   
    min-height: 150px;
}
#black{  
    background-color: #000000;
    margin: auto;
}
#red{
    background-color: #ff0000;
    text-align: right; 
}
#blue{
    background-color: #0000ff;
    text-align: left; 
}
#yellow{
    background-color: #ffff00; 
    text-align: right;
}
#yellow p{
    color: #000000; 
}
#yellow h2{
    color: #000000
}
#green{
    background-color: #008000;
    text-align: left; 
}

footer{
    text-align: right;
    padding: 0px;  
    padding-bottom: 10px; 
    padding-right: 10px; 
}