body{
    font-family: "Lucida Grande", sans-serif;
    background-color: black; 
    color: white;
}
h1{
    font-size: 64px;
    text-align: center;   
}
h2{
    font-size:30px;
    background-color: #808080;
    text-shadow: 5px 5px 2px; 
}
img{
    display: block; 
    margin:auto;
    width: 525px;
    padding: 10px;
}
p{
    font-size: 24px; 
    padding: 20px;
}


footer{
    text-align: right;
    padding: 10px;  
}